<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="display: flex;height: 100vh">
    <%- include('../../partials/sidebar')%>
    <div class="detail-box">
        <div style="text-align: center"><h2 >Add category</h2></div>
        <form id="my-form" >
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control"
                       name="name">
            </div>
            <label>Image:</label>
            <div class="form-group">
                <input type="file" class="form-control" id="selectedFile"
                       name="image"
                       oninput="pic.src=window.URL.createObjectURL(this.files[0])">
            </div>
            <img id="pic" alt="" width="100px" height="100px" />
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" rows="4" cols="50"
                          name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary
            add-category
            ">Add</button>
        </form>
    </div>
</div>

<script src="../../../script/category/add.js"></script>
</body>
</html>
