<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
<div id="absoluteCenteredDiv">
    <form action="/user/login" method="post">
        <div class="box">
            <h1>Login</h1>
            <input class="username" name="username" type="text"
                   placeholder="Username">
            <input class="username" name="password" type="password"
                   placeholder="Password">
            <button type="submit" class="button">Login</button>
        </div>
    </form>
    <p>Forgot your password? <a class="fpwd" href="/user/forgot">Click Here!</a></p>
</div>
</body>
</html>
